@page "/products"

<h3>Products</h3>

<div class="container-fluid">
    <div class="row">
        @for (int i = 0; i < 7; i++)
        {
            <div class="col-lg-6 col-xl-4 mb-3">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <a href="#">
                                <img src="https://picsum.photos/seed/picsum/1200/900" class="img-fluid" alt="Product 1" />
                            </a>
                            <p class="my-2 text-justify">The AI sentence generator is an online tool that is built to automatically write different types of sentences for a given keyword. It uses advanced “AI Technology” and “Large Language Models” to write simple, clear, and relevant random sentences.</p>
                            <p class="mb-1"><strong>Quantity: </strong>0</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <h4 class="mb-3">Retail Price: $8.99</h4>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@code {

}
